body{
    background-color:#f4e3be;
	margin:30px;
}

.container{
	width:80%;
	min-height:60%;
	margin:auto;
	padding: 10px;
	background-color:#fffbec;
	float:center;
}
 
.form-group{
	 padding-bottom:15px;
 }
 
.form label{
	display:inline-block;
	
}

.form input[type = "text"], 
.form textarea,
.form input[type ="email"], 
.form input[type ="password"],
.form input[type ="date"],
.form input[type ="number"] {
	padding:10px;
	width:60%;
	min-height:40%
}

.form input[type = "submit"]{
	background-color:#333;
	color:#fff;
	padding: 20px 25px;
	border:none;
}

